<div class="navigation">
  <div *ngIf="isLoggedIn$ | async">
    <a routerLink="/list">Recipes</a>
    <a routerLink="/create-recipe">Create Recipe</a>
    <a routerLink="/meal-plan">Meal Plan</a>
    <a routerLink="/shopping-list">Shopping List</a>
    <a routerLink="/account-settings">Account Settings</a>
  </div>
  <div *ngIf="!(isLoggedIn$ | async)">
    <a routerLink="/register">Register</a>
    <a routerLink="/login">Login</a>
  </div>

  <a (click)="logout()" *ngIf="isLoggedIn$ | async">Logout</a>
</div>
<div class="app-container">
  <router-outlet></router-outlet>
</div>
