<div>
  <table>
    <thead>
      <tr>
        @for (column of allColumns; track $index) {
        @if (enabledColumns.includes(column)) {
        <th>{{ column }}</th>
        }
        }
      </tr>
    </thead>
    <tbody>
      @for (recipe of recipe$(); track $index) {
      <tr>
        @for (column of allColumns; track $index) {
        @if (enabledColumns.includes(column)) {
        <td>
          @if (column === 'tags') {
          {{ recipe[column].join(', ') }}
          } @else {
          {{ recipe[column] }}
          }
        </td>
        }
        }
      </tr>
      }
    </tbody>
  </table>

  <button (click)="toggleMenu()">Toggle Menu</button>
  @if (menuExpanded) {
  <div class="menu">
    @for (column of allColumns; track $index) {
    <label>
      <input
        type="checkbox"
        [checked]="enabledColumns.includes(column)"
        (change)="toggleColumn(column)"
      />
      {{ column }}
    </label>
    }
  </div>
  }
</div>
