<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <input formControlName="name" placeholder="Recipe Name" required />
  Servings:
  <input
    formControlName="servings"
    placeholder="Servings"
    type="number"
    min="1"
  />
  Prep time:
  <input
    formControlName="prepTime"
    placeholder="Prep Time"
    type="number"
    min="0"
  />
  Cook Time:
  <input
    formControlName="cookTime"
    placeholder="Cook Time"
    type="number"
    min="0"
  />

  Rating:
  <input
    formControlName="rating"
    placeholder="Rating"
    type="number"
    min="0"
    max="5"
  />
  Tags:
  <input formControlName="tags" placeholder="Tags" />
  <div formArrayName="items">
    <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
      <input formControlName="name" placeholder="Item Name" required />
      <input
        formControlName="amount"
        placeholder="Amount"
        type="number"
        min="0"
        required
      />
      <select formControlName="unit" required>
        <option value="" disabled>Select Unit</option>
        <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
      </select>
      <button type="button" (click)="removeItem(i)">Remove</button>
    </div>
  </div>
  <button type="button" (click)="addItem()">Add Item</button>
  <div>
    <textarea
      formControlName="instructions"
      placeholder="Instructions"
      required
    ></textarea>
  </div>
  <div>
    <textarea formControlName="notes" placeholder="Additional Notes"></textarea>
  </div>
  <button type="submit">{{ submitButtonText }}</button>
</form>
